{
    "Driver": "Simba Spark ODBC Driver",
    "Host": "<adb-your-host>",
    "Port": "443",
    "HTTPPath": "/sql/your-httppath-from-obdc-connection",
    "AuthMech": "3",
    "UID": "token",
    "PWD": "<your-adb-token",
    "SSL": "1",
    "ThriftTransport": "2"
  }
  